/* 
    Document   : PointLounge
    Created on : Aug 10, 2012, 12:59:22 PM
    Author     : Shahzad Aziz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


body {
    font-family: "consolas";
    font-size: 12px;
    line-height: normal;
}


root,header,footer,section, div{
    display: block;
}

h2{font-size: 20px;}

#lounge_add_canvas{
  margin-left: 5px;
  margin-top: 20px;
 }


#client-console{
    
    font-size: 10px;
    color: #333;
    height: 300px;
    font-family: consolas;
    margin-bottom: 10px;
    margin-top: 4px;
    
}

#client-console span{
    color: blue;
}


.description {
  font-size: 12px;  
}

.description h2{
  font-size: 20px;
  color: #C92F33;  
}

.tile_image img{
  height: 150px;
  width: auto;
}



/*   Theme  */

.container-fluid > .sidebar {
    position: relative;
    top: 0;
    left:auto;
    width: 240px;
}

.left {
    float:left;
    
    
}

.right {
    float:right;
    
}

.container-fluid > .content {
    margin: 0 240px;
}
​